/*navbar*/



/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
body
{
    background-color:#f1f4f2;
}
.logi
{
    max-width:60px;
    margin-top:-15px;
}
.navbar-brand
{
     position: absolute;
        left: 35%;
        cursor:pointer;
        display: block;
        text-align: center;
    font-size:24px;
    letter-spacing: 0.5px;
    
}
.container1 {
    padding-right: 5px;
    padding-left: 5px;
    margin-right: 2%;
    margin-left: 2%;
}
.navbar-nav>li>a {
     padding-top: 5px;
     padding-bottom: 5px;
}
.navbar-nav>li>a:hover {
    text-decoration: none !important;
    background-color:transparent !important;
}

.dropdown-menu
{
font-family: 'Muli', sans-serif;
    font-size:14px;
    
}
#logo
{
    color:#ffffff;
    font-family: 'Muli', sans-serif;
}
.navbar-fixed-top
{
    border:none;
    background-color:#2874f0;
       box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);   

}
.mc-header-menu-btn {
    position: relative;
    z-index: 10;
    padding:5px;
    font-size:30px;
    float:left;
    cursor: pointer;
   color:#f4f4f4;
    -webkit-transition: background-color .16s;
    -o-transition: background-color .16s;
    transition: background-color .16s;
}
.mc-header-menu-btn a
{
    color:#ffffff;
}

.mc-header-menu-btn a:hover
{color:#ffffff;
    text-decoration:none;
}
.fa-bell
{
    font-size:25px; 
    color:#f4f4f4;
    margin-top:10px;
}
.fa-arrow-left
{
    font-size:25px; 
    color:#f4f4f4;
    margin-top:10px;
}
.nav-right
{
    float:right !important;
}
.search
{
    margin-top:10px;
     font-family: 'Muli', sans-serif;
    border:none;
}

.inset {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow:
    inset 0 0 0 2px rgba(255,255,255,0.6), 
    0 1px 1px rgba(0,0,0,0.1);
  background-color: transparent !important;
  z-index: 999;
}
.searcher
{
    border:none;
    min-width:300px;
    margin-top:-2px;
}
.badge1 {
   position:relative;
}
.badge1[data-badge]:after {
   content:attr(data-badge);
   position:absolute;
   right:2px;
   font-size:.7em;
   background:#EDCB72;
   color:#000000;
   width:18px;height:18px;
   text-align:center;
   line-height:18px;
   border-radius:50%;
   box-shadow:0 0 1px #333;
}
.inset img {
  border-radius: inherit;
  width: inherit;
  height: inherit;
  display: block;
  position: relative;
  z-index: 998;
}
@media screen and (max-width: 768px) {
  .navbar-brand
    {
          font-size:20px;
         position: absolute;
    left: 5%;
    }

   
}
@media screen and (max-width: 458px) {
  .navbar-brand
    {
          font-size:20px;
         position: absolute;
    left: 15%;
    }

   
}
/*navbar*/

/*sidebar*/
.sidenav {
 height:100vh;
  width: 150px;
    padding-top:70px !important;
  position: fixed;
  z-index:-1;
  top: 0;
  left: 0;
  background-color: #ffffff;
    font-family: 'Muli', sans-serif;
    overflow-y: scroll;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  padding: 10px 8px 10px 16px;
  text-decoration: none;
  font-size: 16px;
  color: #000000;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

.main {
  margin-left: 140px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

.dropdown-container {
  display: none;
  background-color: #ffffff;
  padding-left: 8px;
}

.fa-caret-down {
  padding-right:8px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
/*sidebar*/



/*dropdown*/




/*sections*/

.main
{
    margin-top:100px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
    margin-top:10px;
    padding:5px 20px;
  width: 100%;
  background-color:#ffffff;
}
.carding
{
   transition: 0.3s;
    margin-top:10px;
    padding:5px 20px;
  width: 100%;
  background-color:#ffffff;
    border:1px solid #f1f1f1;
}

.main h3
{
   font-family: 'Muli', sans-serif; 
    font-weight:600;
    letter-spacing: 0.8px;
}
.main p
{padding-top:5px;
    font-family: 'Muli', sans-serif; 
}
.docimage
{max-height:450px;
    max-width:500px;
    width:100%;
}

.buttonone {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size:18px;
    font-family: 'Muli', sans-serif; 
    padding: 8px 28px;
  cursor: pointer;
}
.buttontwo {
  background-color: #444141; 
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size:16px;
    font-family: 'Muli', sans-serif; 
    padding: 8px 24px;
  cursor: pointer;
}
.buttonthree {
  background-color: #444141; 
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size:15px;
    font-family: 'Muli', sans-serif; 
    padding: 4px 20px;
  cursor: pointer;
}
@media screen and (max-width: 450px)
{
   .main p
{
    font-size:14px;
    padding-top:5px;
    font-family: 'Muli', sans-serif; 
} 
    .sidenav a, .dropdown-btn {
  padding: 10px 8px 10px 16px;
  text-decoration: none;
  font-size: 14px;
  color: #000000;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}
}


/*sections*/



/*inputmethod*/

.files input {
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    padding: 120px 0px 85px 35%;
    text-align: center !important;
    margin: 0;
    width: 100% !important;
}
.files input:focus{     outline: 2px dashed #92b0b3;  outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear; border:1px solid #92b0b3;
 }
.files{ position:relative}
.files:after {  pointer-events: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 50px;
    right: 0;
    height: 56px;
    content: "";
    background-image: url(https://image.flaticon.com/icons/png/128/109/109612.png);
    display: block;
    margin: 0 auto;
    background-size: 100%;
    background-repeat: no-repeat;
}
.color input{ background-color:#f1f1f1;}
.files:before {
    position: absolute;
    bottom: 10px;
    left: 0;  pointer-events: none;
    width: 100%;
    right: 0;
    height: 57px;
    display: block;
    margin: 0 auto;
    color: #2ea591;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
}


/*inputmethod*/
/*datatables*/

  #myTable {
    border-collapse: collapse;
    width: 100%;
      max-width:1200px;
      font-family: 'Muli', sans-serif;
    font-size:14px;
     letter-spacing: 0.2px;
  }
  
  #myTable th, #myTable td {
    text-align: left;
    padding: 10px;
    font-family: 'Muli', sans-serif;
  }
   th
  {
      background-color:#f4f4f4;
      font-family: 'Muli', sans-serif;
      font-size:15px;
      letter-spacing:0.5px;
      padding:10px;
  }
  #myTable tr {
    border-bottom: 1px solid #ddd;
  }
 
  <!--tab-panel-->

  .tabbable-panel {
    border:1px solid #eee;
    padding: 10px;
  }

  /* Default mode */
  .tabbable-line > .nav-tabs {
    border: none;
    margin: 0px;
  }
  .tabbable-line > .nav-tabs > li {
    margin-right: 2px;
    font-size:15px;
    font-family: 'Roboto', sans-serif;
  }
  .tabbable-line > .nav-tabs > li > a {
    border: 0;
    margin-right: 0;
    color: #737373;
  }
  .tabbable-line > .nav-tabs > li > a > i {
    color: #a6a6a6;
  }
  .tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
    border-bottom: 4px solid #fbcdcf;
  }
  .tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
    border: 0;
    background: none !important;
    color: #333333;
  }
  .tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
    color: #a6a6a6;
  }
  .tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
    margin-top: 0px;
  }
  .tabbable-line > .nav-tabs > li.active {
    border-bottom: 4px solid #f3565d;
    position: relative;
  }
  .tabbable-line > .nav-tabs > li.active > a {
    border: 0;
    color: #333333;
  }
  .tabbable-line > .nav-tabs > li.active > a > i {
    color: #404040;
  }
  .tabbable-line > .tab-content {
    margin-top: -3px;
    background-color: #fff;
    border: 0;
    border-top: 1px solid #eee;
    padding: 15px 0;
  }
  .portlet .tabbable-line > .tab-content {
    padding-bottom: 0;
  }
  /*datatables*/

  /*rightbar*/

.modal.left .modal-dialog,
	.modal.right .modal-dialog {
		position: fixed;
		margin: auto;
		width: 380px;
		height: 100%;
		-webkit-transform: translate3d(0%, 0, 0);
		    -ms-transform: translate3d(0%, 0, 0);
		     -o-transform: translate3d(0%, 0, 0);
		        transform: translate3d(0%, 0, 0);
	}

	.modal.left .modal-content,
	.modal.right .modal-content {
		height: 100%;
		overflow-y: auto;
	}
	
	.modal.left .modal-body,
	.modal.right .modal-body {
		padding: 15px 15px 80px;
	}

/*Left*/
	.modal.left.fade .modal-dialog{
		left: -320px;
		-webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
		   -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
		     -o-transition: opacity 0.3s linear, left 0.3s ease-out;
		        transition: opacity 0.3s linear, left 0.3s ease-out;
	}
	
	.modal.left.fade.in .modal-dialog{
		left: 0;
	}
        
/*Right*/
	.modal.right.fade .modal-dialog {
		right: -320px;
		-webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
		   -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
		     -o-transition: opacity 0.3s linear, right 0.3s ease-out;
		        transition: opacity 0.3s linear, right 0.3s ease-out;
	}
	
	.modal.right.fade.in .modal-dialog {
		right: 0;
	}

/* ----- MODAL STYLE ----- */

    .modal-body
{
    background-color: #f1f4f2;
    height:100%;
}
	.modal-content {
		border-radius: 0;
		border: none;
        font-size:16px;
       font-family: 'Muli', sans-serif;
    color:#000000;  
	}

	.modal-header {
		 background-color:#2874f0;
        
       font-family: 'Muli', sans-serif;
    color:#ffffff;  
	}
  .modal-header h4
{
 font-size:18px;  
    letter-spacing: 0.6px;
}



 /*rightbar*/

/*footer*/
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
    padding:5px;
   background-color: #ffffff;
   color: white;
    border-top:1px solid #f1f1f1;
   text-align: center; 
}
.inline p
{
    float:left;
    padding-top:10px; 
    font-size:16px;
       font-family: 'Muli', sans-serif;
    color:#000000;
}
.footy
{
  position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
        
   background-color: #ffffff;
   color: white;
    border-top:1px solid #f1f1f1;
   text-align: center;   
}
.footy>ul>li
{
  display: inline-block;
    cursor: pointer;
    letter-spacing: 0.5px;
     padding:5px 20px;
    font-size:14px;
    font-family: 'Muli', sans-serif;
    color:#000000;  
}
.topper
{
    margin-top:80px;
}
.topper h3
{
    font-size:18px;
    font-weight:600;
    font-family: 'Muli', sans-serif; 
     letter-spacing: 0.5px;
}
.topper p
{
     font-size:14px;
     font-family: 'Muli', sans-serif; 
     letter-spacing: 0.5px; 
}
ol, ul {
    margin-top: 0;
    margin-bottom: 0px;
    margin-left:-40px;
}
.footy>ul>li>i 
{
    font-size:25px;
}

.footer>ul>li
{
    display: inline-block;
    cursor: pointer;
    letter-spacing: 0.5px;
    padding:5px 20px;
    font-size:16px;
    font-family: 'Muli', sans-serif;
    float:right;
    color:#000000;
}
@media screen and (max-width: 480px) {
        .footer>ul>li {
    display: inline-block;
    cursor: pointer;
    letter-spacing: 0.5px;
    padding: 5px 10px;
    font-size:14px;
    font-family: 'Muli', sans-serif;
    float: right;
    color: #000000;
}

.inline p
{
    float:left;
    padding-top:10px; 
    font-size:15px;
       font-family: 'Muli', sans-serif;
    color:#000000;
}
    
    .topper
{
    margin-top:80px;
}
.topper h3
{
    font-size:18px;
    font-weight:600;
    font-family: 'Muli', sans-serif; 
     letter-spacing: 0.5px;
}
.topper p
{
     font-size:14px;
     font-family: 'Muli', sans-serif; 
     letter-spacing: 0.5px; 
}
}
/*footer*/